<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>测试Vue2修改数组length是否会更新</title>
    <script src="https://cdn.staticfile.org/vue/2.6.9/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!--<div class="list" v-for="(item,index) in list" @click="setLen(index)">{{item}}</div>-->
      <div class="list" v-for="(item,index) in list" :key="index" @click="itemPlus(index)">
        {{item}}
      </div>
    </div>
    <script>
      new Vue({
        el: '#app',
        data() {
          return {
            list: [1, 2, 3, 4, 5],
          };
        },
        methods: {
          setLen(item) {
            // 经测试，vue2的数组通过length截断不会更新视图
            this.list.length = item;
            console.log(this.list);
          },
          itemPlus(index) {
            // 经测试，vue2数组通过[index]设置不会更新视图
            this.list[index] = this.list[index] + 1;
            console.log(this.list[index]);
          },
        },
      });
    </script>
  </body>
</html>
